<!DOCTYPE html>
<html>
 <head>
 <title>Salle</title>
 </head>
 <body>
 <h1>restaurant {{ resto.nom }}</h1>
 <p> Voici quelques informations concernant le restaurant numéro : {{ resto.id }}
 <li>Nom {{ resto.nom }}</li>
 <li>Chef {{ resto.chef }}</li>
 <li>Etoile {{ resto.nbrEtoile }}</li> 
 </p>
 </body>
</html>